<div id="warpContent" style="width: 600px;">
	
<h3><img src="/images/redsquare.png"/> &nbsp; How to Play</h3>

	<p>The goal of WikiWarp is to navigate through the linked pages of Wikipedia to arrive at 
		a target page in the shortest amount of time and/or using the fewest number of links.</p>

	<p>We offer a variety of game types, including:
		<ul>
			<li>a <b>featured game</b> that uses start and target pages that we hand-selected for exciting warping,</li>
			<li>a <b>random game</b> that uses completely random start and target pages from Wikipedia,</li>
			<li>a <b>custom game</b> in which you can choose your own start and target pages,</li>
			<li>and more to come.</li>
		</ul>
	</p><br />

	<p>At every step of each of these games, you'll be presented with a page that looks like this:</p>
	
	<div id="how_to_play">
	  <img border=2 src="/images/how_to_play_mod.png"/>
	</div><br />

	<p>Your game statistics are visible in the blue status bar, and below that is a reproduction of the
		Wikipedia page you're currently viewing. Click on any of the links you think will get you closer
		to your target. Currently, the score is computed solely based on time - later, we might give bonus
		points for shorter paths.</p>

	<p>If you have any questions or suggestions, or an idea for a new game type, please 
		<%= link_to 'let us know', :action => 'contact' %>.</p>
	
</div>