<div id="warpContent" style="width: 600px;">
	
	<h3><img src="/images/redsquare.png"/> &nbsp; What's the big idea?</h3>

		<p>WikiWarp is intended to be a "game with a purpose", a game played by human participants 
		whose strategic gameplay results in the solving of computational tasks that are difficult for 
		computers alone to perform. Other games of this sort include image labeling and aggregation of 
		common sense knowledge (see <a href="#references">references</a>).</p>

		<p>This game's computational target is measuring the semantic relatedness between different ideas 
		and concepts, for example "prison" and "democracy". The accurate aggregation of such meta-information, 
		or even a small improvement on current methods of aggregation, has powerful applications including 
		search engine technology and advertising, to name only a few.</p>

		<p>Playing WikiWarp, you'll be placed on a <b>start page</b> on Wikipedia and instructed to navigate 
		through the links of the website to arrive at a specified <b>target page</b>. You'll be scored
		on the total time of your successful warp as well as the number of links you click along the way,
		and in the future you might even get to race against other players in real time.</p>

		<p>The paths constructed between disparate topics contain some information 
		about their semantic relatedness, and the goal of the game is to encourage high-volume 
		production of this user-generated information.</p>

	<h3><img src="/images/redsquare.png"/> &nbsp; Cheating</h3>
		<p>In order to generate the most useful data, it's important that you play the game 
			as it was designed to be played. We think we've identified and prohibited several 
			methods of cheating, but if you think you've found a way please
			<%= link_to 'let us know', :action => 'contact' %>.</p>

	<h3><img src="/images/redsquare.png"/> &nbsp; About Us</h3>
		<p>This website was created by <a href="http://www.nikhilsrivastava.com">Nikhil Srivastava</a>, 
		and is maintained in partial fulfillment of the requirements for 
			<a href="http://www.eecs.harvard.edu/cs286r/"> this course</a>.</p>

	<a name="references"></a>
	<h3>References</h3>
	<p><ul style="list-style: none;">
		<li><a href="http://www.gwap.com/">www.GWAP.com</a> - a collection of other games with a purpose</li>
		<li>Games with a Purpose - Louis von Ahn 
			[<a href="www.cs.cmu.edu/~biglou/ieee-gwap.pdf">pdf</a>]</li>
		<li><a href="http://en.wikipedia.org/wiki/Semantic_relatedness">Semantic relatedness</a></li>
	</ul></p>
			
</div>