<div id="warpContent">
	<p>
		<img src="/images/redsquare.png"/> &nbsp; 
		<%= link_to "Let's play!", :controller => 'play', :action => 'index' %>

		<br /><br />

		<img src="/images/redsquare.png"/> &nbsp; 
		<%= link_to "How do I play?", :controller => 'welcome', :action => 'how' %>
	</p>
</div>